# Keil / MDK-ARM
*.o
*.d
*.crf
*.lst
*.map
*.axf
*.htm
*.lnp
*.dep
*.build_log.htm
*.uvguix.*
*.uvoptx
*.bak
NOx_RCT6/
*.trail

# Build output
*.hex
*.bin

# IDE / OS
.DS_Store
Thumbs.db
*.suo
*.user
*.sdf
*.opensdf

# Optional: keep .uvprojx in repo, ignore user UI state
# *.uvprojx
